bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/VSWorkspaceState.json
/.vscode/settings.json

/Src/Common/LSS.D365.CE.Models/ProxyClasses/Entities/**/*
/Src/Common/LSS.D365.CE.Models/ProxyClasses/Messages/**/*
/Src/Common/LSS.D365.CE.Models/ProxyClasses/OptionSets/**/*
/Src/Common/LSS.D365.CE.Models/ProxyClasses/EntityOptionSetEnum.cs
/Src/Common/LSS.D365.CE.Models/ProxyClasses/OrgSvcContext.cs

LSS.D365.CE.sln.DotSettings.user

launchSettings.json

*.runsettings.*